<%= form_with model: user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    <%= render partial: 'errors', locals: { field_name: :username } %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %><br>
    <%= render partial: 'errors', locals: { field_name: :email } %>
  </div>

  <div>
    <%= form.label :role_ids, 'Assign Role:' %>
    <%= form.select :role_ids, Role.all.map { |role| [role.name, role.id] }, {}, multiple: true %>
    <%= render partial: 'errors', locals: { field_name: :role_ids } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
