<h2><%= 'User Details' %></h2>
<h4><%= @user.email %></h4>
<p><%= @user.username %></p>
<p><%= @user.id %></p>
<h4>User roles:</h4>
<% @roles.each do |role| %>
  <li>
    <%= role.name %>
  </li>
<% end %>
