<div class="container-fluid">
  <div class="text-right">
    <% if current_user.has_role?('Admin') || current_user.has_role?('Staff') %>
      <%= button_to "New", new_product_path, method: :get, class: "custom-button" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col mb-3">
      <form class="d-flex" action="/products" method="GET">
        <input class="custom-product-input" type="search" placeholder="Name" name="name_query">
        <input class="custom-product-input" type="search" placeholder="Min price" name="min_price">
        <input class="custom-product-input" type="search" placeholder="Max price" name="max_price">
        <button class="search-button" type="submit">Search</button>
      </form>
    </div>
  </div>

  <% if @products.empty? %>
    <div class="alert alert-danger" role="alert">Product not found</div>
  <% else %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <%= link_to product_path(product) do %>
              <%= image_tag(product.image, class: "card-img-top", alt: product.title) %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
              <% if product.product_stock_quantity > 0 %>
                <% @cart = current_user.cart || current_user.create_cart %>
                <%= link_to 'Add to Cart', add_product_cart_path(id: product.id, cart_id: @cart.id), class: 'btn btn-success btn-block' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center"><%= paginate @products %></div>
</div>
