<p>Name: <%= @product.title %></>
<p>Descripton: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<p>Stock Quanity: <%= @product.product_stock_quantity%></p>
<p> <%= image_tag(@product.image) %> </p>
